# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/

# VS Code
.vscode/

# Environment / secrets
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# OS files
.DS_Store
Thumbs.db

# Lambda build artifacts
infrastructure/lambda_package.zip